@import "variables","mixins";

body{
	background-color: #f2f2f2;
	font-family: $baseFontFamily;
	color: $baseColor;
}
a{
	color: $hover;
	&:active,&:focus{
		color: $normal;
	}
}
[type="button"]{
	&:active{
		color: $normal;
	}
}
p{
	font-size: 14px;
	line-height: 1.5em;
}
.container{
	font-size: $baseFontSize;
}
.section{
	position: absolute;
	top: 77px;
	left: 0;
	right: 0;
	bottom: 40px;
	z-index: 1;

	overflow:auto;/* winphone8和android4+ */
	-webkit-overflow-scrolling: touch; /* ios5+ */
}
// header
.header{
	position: absolute;
	left: 0;
	right:0;
	top: 0;
	bottom: auto;
	z-index: 2;

	padding: 20px;
	background-color: $normal;
	color: $white;
	h1{
		font-size: 1rem;
	}
}
// footer
.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	
	height: 40px;
	@include rgba(0,0,0,0.9,'000000','#99');
	overflow: hidden;
	@at-root{
		.footer-navbar{

			li{
				float: left;
				width: (100%/3);
				height: 40px;
				line-height: 40px;
				font-size: 1.6em;
				text-align: center;
				&>a{
					display: block;
					color: $white;
					.fa{
						line-height: 40px;
					}
				}
			}
		}
	}
	
}

// session
.title{
	font-size: 1.6em;
	line-height: 2em;
	border-bottom:1px solid $gray;
}
.list{
	padding: 5px 0;
	border-bottom:1px dashed lighten($gray,10%);
	.list-body{
		font-size: 1.4em;
		line-height: 1.5em;
		img{
			width: 100px;
			height: 100px;
			display: block;
		}
	}
	.list-footer{
		padding-top: 5px;
		font-size: 1.4em;
		line-height: 1em;
		color: $gray;
		text-align: right;
	}
	.list-state{
		margin:0 5px;
	}
	button{
		color: inherit;
		border: none;
		background-color: transparent;
		margin:0 5px;
	}
}
